@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: Roboto;
  background: #fed5b9;
}

h5{
  margin-top: -15px;
  font-size: 20px;
  color: white;
}

.container{
  width: 100%;
  padding: 2px 16px;
}

.card {
  transition: .75s;
  margin-left: 10px;
  margin-top: 10px;
  background: #ffbc90;
  border-radius: 5px;
  float: left;
  width: 200px;
  height: 250px;
}

.card:hover{
  z-index: 10 !important!;
  transform: scale:(1.05);
}

.adve{
  width: 200px;
  height: auto;
  border-bottom: 6px solid #900020;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.text{
  padding; 2px 16px;
}

.card1{
  
}

.card2{
  border-top: 6px solid #bc1c1c;
  height: 125px;
}

.adv{
  color: #FA8072;
  margin-top: 0;
}

.fash{
  color: #bc1c1c;
  margin-top: 0;
}

.cook{
  position: absolute;
  color: #fceec5;
  margin-top: -170px;
}

.pic{
 margin-top: -145px;
}

.food{
  width: 200px;
  height: auto;
  border-bottom: 6px solid #145b09;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
  